p {
    color : red ;
    font-size: 20px;
}
h1 {
    color: var(--text-color);
}
#first {
    color:rgb(230, 94, 20);
}
.object {
    color: aqua;
}
:root {
    --text-color : green ;
}
.image {
    max-width: 100px;
    height: auto;
}
.boxx {
    max-width: 100%;
    height: auto ;
    padding: 200px;
    box-sizing: border-box;
    border: 10px dashed gold;
    background-clip: padding-box;
    background-image: linear-gradient(0 , rgba(219, 219, 181, 0.5) , rgba(128, 128, 160, 0.5)) ,
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAIPIE9c6ROm2Yo93YtY8EIbgXyxdp_xL_cA&usqp=CAU);
    background-size: 100px ;

}
h1:hover {
    color: rgb(202, 34, 34);
}
.box:hover{
    background-color: rgb(71, 232, 8);
}
a:link {
    color: red;
 }
 a:visited {
    color: green;
 }
 a:hover {
    color: yellow;
 }
 a:active {
    color: blue;
 }
button:active {
    color: rgb(213, 23, 159);
}
option:active {
    color: rgb(80, 75, 142);
}
input:checked {
    width: 20px;
    height: 20px;
}
input:enabled {
    background: rgb(243, 241, 241);
    color: rgb(16, 16, 1);
}
 
p:empty {
    color: rgb(224, 18, 36);
    width: 100px;
    height: 10px;
    color: #000;
  }
input:required {
    background-color: rgb(176, 209, 136);
    color:rgba(216, 24, 24, 0.5);
}
input:optional {
    background-color: beige;
}
table, th, td {
    border: 1px solid;
  }
table {
    width: 80%;
}
th {
    height: 50px;
}
td {
    height: 30px;
    text-align: center;
}
td , td {
    padding: 15px;
}
tr:hover {
    color: red;
    background-color: rgb(191, 234, 220);
}
tr:nth-child(even) {
    background-color: #f2f2f2 ;
}
th {
    background-color: green;
    color: white;
}
input:disabled {
    background: gray;
  }
.box {
    width: 200px;
    height: 200px;
    color:#fff;
    display: flex;
    align-items:center;
    justify-content: center;
    box-sizing: border-box;
    border: dashed green;
    background-clip: padding-box;
}
.box1 {
    background-color: blue;  
    font-size: 50px;
    padding: 10px 10px 10px 10px;
    border: 10px solid #333;
}
.box2 {
    background-color: brown;
    font-size: 50px;
}
.header {
    width: 100px;
    height: 100px;
    background-color: #333;
    padding: 20px;
    box-sizing: border-box;
    border: 2px dashed red;
    background-clip: content-box;
}
